<p id="notice"><%= notice %></p>

<p>
  <strong>Last name:</strong>
  <%= @manager.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @manager.first_name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @manager.department.name %>
</p>

<table>
  <tr><th>Employees</th></tr>
<% @manager.employees.each do |employee| %>
  <tr><td><%= employee.full_name %></td></tr>
<% end %>
</table>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
