<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<table>
  <tr><th>Managers</th></tr>
<% @department.managers.each do |manager| %>
  <tr><td><%= manager.full_name %></td></tr>
<% end %>
</table>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
