/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: white;
}
.header {
    border-style: solid;
    padding: 10px;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: lightskyblue;
    width: 80%;
}

table {
    background-color: white;;
    border-collapse: collapse;
    border-spacing: 4px;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

thead {
    align: center;
}

.footer {
    border-style: solid;
    padding: 10px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    align-items: center;
    background-color: lightskyblue;
    width: 80%;
}

.newButton {
    border: 2px solid black;
    padding: 5px;
    background: white;
    display: inline;
    color: white;
}

