<!DOCTYPE html>
<html>
  <head>
    <title>ExamReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="body">
      <div class="header">

        <h2>Basic E HR</h2>
        <p><%= link_to 'Departments', departments_path %> <%= link_to 'Managers', managers_path %>
        <%= link_to 'Employees', employees_path %>
        </p>
      </div>

      <%= yield %>

      <div class="footer">
        <h4>Billy Dinh 2018</h4>
      </div>
    </div>
  </body>
</html>
